html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  color: #fcf9f9;
  background-color: #1c2225;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.45;
  }
}

.accent-text {
  color: #ecd979;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
